# Build outputs
bin/
target/
*.class

# Dependencies
node_modules/
deno.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

*.tar
services/auth-service/auth-service
services/transaction-service/transaction-service